.about-wrap {
    padding: 50px 0;
}

.left {
    float: left;
    width: 686px;

}

img {
    display: block;
    max-width: 100%;
}

.right {
    float: right;
    width: 378px;
}

.title {
    margin-bottom: 15px;
    font-size: 30px;
}

.content {
    font-size: 15px;
    line-height: 27px;
}