body {
  background-color: #fcfcfc;
}

img {
  max-width: 100%;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  font-family: Helvetica,arial,"Microsoft YaHei",sans-serif;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}